<h1>This is home page</h1>
 
<table border="1">
    <tr>
        <td>name</td>
        <td>age</td>
    </tr>

    <% array.map((i,index)=>{
        %>
        <tr>
            <td>
                <%= i.name %>
            </td>
            <td>
                <%= i.age %>
            </td>
        </tr>
   <% })%>
</table>